@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  scroll-behavior: smooth;
}

@media (max-width: 430px) {
  .slideIn {
    animation: slideIn 300ms ease-in-out;
  }
  .slideOut {
    animation: slideOut 300ms ease-in-out;
  }
}

@keyframes slideIn {
  from {
    left: 30rem;
  }
  to {
    left: 0;
  }
}
@keyframes slideOut {
  from {
    right: 30rem;
  }
  to {
    right: 0;
  }
}
